.subscribe-main-container {
    background-color: rgb(177, 235, 235);
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}

.subscribe-main-container h1 {
    color: rgb(44, 44, 87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    font-weight: 700;
}

.subscribe-main-container p {
    color: rgb(18, 65, 49);
    font-weight: 500;
}