.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 10px;
}

.products-title {
    color: rgb(10, 77, 54);
    margin-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width:576px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and (min-width:577px) and (max-width:770px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}