.footer-main-container {
    background-color: rgb(228, 245, 239);
    padding: 30px;

}

.footer-main-container h6 {
    font-size: 20px;
    color: rgb(4, 54, 58);
    margin-bottom: 29px;
}

.footer-main-container p {
    color: rgb(43, 20, 63);
    font-family: Times, Georgia, 'Times New Roman', serif;
}

.footer-main-container p:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* social login icon style */

.footer-offer {
    background-color: rgb(235, 172, 36);
    width: 300px;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 10;

}

@keyframes example {
    from {
        background-color: rgb(235, 172, 36);
    }

    to {
        background-color: rgb(150, 105, 53);
    }
}

.copyright-container span {
    color: rgb(58, 25, 65);
    font-weight: 500;
}

#footer-icon {
    height: 100px;
    width: 150px;
    border-radius: 40px;

}


.social-login-icon img {
    height: 40px;
    margin-left: 5px;
}

#apple-img {
    height: 70px;
    width: 150px;
    margin-right: 15px;
    cursor: pointer;
}

#google-img {
    width: 145px;
    height: 50px;
    cursor: pointer;
}